player-connection-mode=Listen
player-connection-guid=295314714
player-connection-debug=1
player-connection-project-name=Shadow's Forest Friends
player-connection-ip=192.168.1.12
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a554b5b634dd4acab7e73f849f9591b7
